<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css">
    <title>PHP Library for Party and Friends</title>
</head>
<body>
<div>
    <h1>This is a demo for the <a href="https://github.com/Simonsator/PartyAndFriends-PHP-Lib">PHP API for Party and
        Friends</a>. This demo can be downloaded <a href="https://github.com/Simonsator/PartyAndFriends-PHP-Lib-Demo">here</a>.
    </h1>
</div>
<div class="page-content">