body {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.page-content {
    max-width: 550px;
}

.data-show-label {
    width: 100%;
}

.top-distance-keeper {
    margin-top: 10px;
}