body {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.page-content {
    max-width: 550px;
}

.data-show-label {
    width: 100%;
}

.top-distance-keeper {
    margin-top: 10px;
}

.submit-card-button {
    margin-top: 8px;
    margin-left: 1px;
    width: calc(100% - 2px);
}